body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/SHLogo.png);
    background-repeat: repeat-y;
    background-position: right;
}
div {
    display: inline-block;
    border-top: 3px solid blue;
}   
h1 {
    color:blue
}
h2 {
    color:blue
}
p::first-letter {
    font-size: 200%;
    font-weight: bold;
    font-style: italic
}
img {
    width: 20px;
    height: 20px;
}
article {
    margin: 10px;
    bottom: 10px;
    border-bottom: 3px solid blue; 
    column-count: 3;
    column-gap: 35px;
    column-rule: 3px dashed blue;
    width: 75%;
}
aside {
    width: 20%;
    padding: 5px;
    border: 5px black;
    background-color: lightblue;
    position: fixed;
    right:0;
    top: 170px;
}
.roman{
    list-style-type: upper-roman;
}
.bullet{
    margin-left: 40px;
    list-style-type: circle;
}
.letter{
    margin-left: 100px;
    list-style-type: lower-alpha;
}
#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    margin: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }

footer {
    text-align: center;
}