html {
    background-image: linear-gradient(to bottom, white 0%, #8afaf2 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width :1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 3px solid blueviolet;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/AX.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
}
a:focus, a:hover {
    font-style: italic;
    color:lightblue;
}
h1 {
    font-size: 175%;
    color:aquamarine
}
h2{
    font-size: 130;
    color: #875893;
    text-indent: 30px;
}
img{
    float: left;
    margin-left: 2em;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
main {
    clear: left;
}
main h3 {
    font-size: 105%;
    margin: 1.5em 2em 1.5em;
    border: 5px dashed purple;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px black;
    padding: 1em;
}
main nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed white;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px turquoise;
    pad: .5em;
}
#list {
    line-height: 1.5em;
}
div.contact {
    margin: 1.5em 2em 0 2em;
    border: 5px dotted purple;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px white;
    padding: 1em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}